<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Efootball Liga Pro Results</title>
        <!--Get the scripts and CSS for using datatables-->
    <!--<script src="{{ url_for('static',filename='jquery.js')}}"></script>-->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="{{ url_for('static',filename='bootstrap.min.js')}}"></script>
    <link rel="stylesheet" type=text/css href="{{ url_for('static',filename='bootstrap.min.css')}}">
    <link rel="stylesheet" type=text/css href="{{ url_for('static',filename='navbar.css')}}">
    <link rel="stylesheet" type=text/css href="{{ url_for('static',filename='style_snippets/faux_select.css')}}">
    <link rel="stylesheet" type=text/css href="{{ url_for('static',filename='style_snippets/headers.css')}}">
</head>

<body class='bg-dark'>

    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#"><i>Efootball Liga Pro Results</i></a><p>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse show" id="menu">
        <form action="" onsubmit="return false;"> 
            <div class="slidecontainer nav-item"><span class="form-control">Showing games for last <strong id="dayslabel"></strong> days. Use the slider below to change.</span>
                <input type="range" min="0" max="200" value="30" class="form-control" id="daystoshow">
            </div>
        </form>
    </div>

    </nav>



<div id="main" class="container-fluid" style="background-image: '{{ url_for('static',filename='prophetoddsbg.jpg')}}';">

    <div>
        <input class="form-control" type="text" placeholder="Search" aria-label="Search" id="search" onkeyup="getgames();">
    </div>

    <div id="games" class="container-fluid" style="background-color:white;opacity:0.92;">
    </div>

    
</div>
<div class = 'text-light bg-dark' id="dbupdated"></div>
<div class='text-light bg-dark'>E-Football Liga Pro Results, by Gerard Armstrong (2020)</div>

</body>
</html>
<script>

function getgames() {


  var xhttp;
  xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("games").innerHTML = this.responseText;

      //Put a header for the results table
      $('#gamestable').before('<h2>Results</h2>')
      //Do some formatting on the ladder table
      $('#ladder table').addClass('table table-bordered table-striped')
      $('th').addClass('text-center')

      //Clear the search box text
      $('#search').val('')

    }
  };

  var searchstr = document.getElementById('search').value
  if (searchstr == '') {searchstr='None'}
  $('#search').val('Loading. Please wait...')
  xhttp.open("GET", "getgames.php?days="+document.getElementById('daystoshow').value+"&search="+searchstr, true);
  xhttp.send();
}

function getLog() {

  var xhttp;
  xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("games").innerHTML = this.responseText;
    }
  };

  var searchstr = document.getElementById('search').value
  if (searchstr == '') {searchstr='None'}

  xhttp.open("GET", "gettable.php", true);
  xhttp.send();

}

function changedayslabel() {
    document.getElementById("dayslabel").innerText = document.getElementById('daystoshow').value
    getgames();
}

function getdbupdatetime() {
  var xhttp;
  xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
    document.getElementById("dbupdated").innerHTML = "Database updated at "+Date(this.responseText);
    }
  };
  xhttp.open("GET", "getdbupdatetime.php",true);
  xhttp.send();
}

function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("gamestable");
  switching = true;
  // Set the sorting direction to ascending:
  dir = "asc";
  /* Make a loop that will continue until
  no switching has been done: */
  while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /* Loop through all table rows (except the
    first, which contains table headers): */
    for (i = 1; i < (rows.length - 1); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /* Check if the two rows should switch place,
      based on the direction, asc or desc: */
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      // Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /* If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again. */
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}

    
document.getElementById('daystoshow').onchange = function() {changedayslabel();getgames();}

getdbupdatetime();
changedayslabel();
getgames();
document.getElementById('main').style.backgroundImage = "url({{ url_for('static',filename='prophetoddsbg.jpg')}})";
</script>

<script src="{{ url_for('static',filename='style_snippets/faux_select.js')}}"></script>
