<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Efootball Results</title>
  <!--Get the scripts and CSS for using datatables-->
  <!--<script src="{{ url_for('static',filename='jquery.js')}}"></script>-->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="{{ url_for('static',filename='bootstrap.min.js')}}"></script>
  <script src="{{ url_for('static',filename='h2hsel.js')}}"></script>
  <link rel="stylesheet" type=text/css href="{{ url_for('static',filename='bootstrap.min.css')}}">
  <link rel="stylesheet" type=text/css href="{{ url_for('static',filename='navbar.css')}}">
  <link rel="stylesheet" type=text/css href="{{ url_for('static',filename='style_snippets/faux_select.css')}}">
  <link rel="stylesheet" type=text/css href="{{ url_for('static',filename='style_snippets/headers.css')}}">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>

<body class='bg-dark'>

  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><i>Efootball Results Database</i></a><p>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse show" id="menu">
        <form action="" onsubmit="return false;"> 
          <div class="nav-item">
            <select id="compselect" class="custom-select" onchange="getgames();">
              <option value="0" selected>Select a competition</option>
              <option value="1">Liga Pro</option>
              <option value="2">ESports Battle</option>
              <option value="3">Virtual Bundesliga</option>
              <option value="4">FUFV Primera Division</option>
              <option value="5">FUFV Segunda Division</option>
              <option value="6">FUFV Tercera Division</option>
              <option value="7">E-Liga MX</option>
              <option value="8">Live Arena Leagues - Aggregated</option>
              <option value="9">Pro Player Cup - PS4</option>
              <option value="10">Pro Player Cup - XBox</option>
              <option value="12">GT Leagues</option>
              <option value="11">Futhead TNF - 1st/2nd Legs Aggregated</option>
            </select>
          </div>
          <div class="slidecontainer nav-item"><span class="form-control">Showing games for last <strong id="dayslabel"></strong> days. Use the slider below to change.</span>
            <input type="range" min="0" max="200" value="15" class="form-control" id="daystoshow">
          </div>
        </form>
      </div>

    </nav>



    <div id="main" class="container-fluid" style="background-image: '{{ url_for('static',filename='prophetoddsbg.jpg')}}';">

      <div>
        <input class="form-control" type="text" placeholder="Search and press enter to submit" aria-label="Search" id="search">
      </div>

      <div id="h2hdata" class='text-light bg-dark'></div>

      <div id="games" class="container-fluid" style="background-color:white;opacity:0.92;">

      </div>

    </div>
    <div class = 'text-light bg-dark' id="dbupdated"></div>
    <div class='text-light bg-dark'>E-Football Results, by Gerard Armstrong (2020)</div>


<!--page load dialog.-->
<div class="modal fade" id="dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">H2H player stats have been added</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>You can now compare players by clicking on two names in the table.</p><p>Once selected, when you hover over the names it will give you H2H player stats.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Got it</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="subgroupdialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Grouped Player Stats</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modaloverwrite">
        <p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!---->

  </body>
  </html>
  <script>

    function getgames(subcomp=false) {

      var xhttp;
      xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          resp = this.responseText;

        if (subcomp == false ) {
          
         $('#games').html(resp)
         $('#ladder').find('tr').filter( function () {$(this).attr('onclick','h2h(this)')})
      
        //Put a header for the results table
        $('#gamestable').before('<h2>Results</h2>')
        //Do some formatting on the ladder table
        $('#ladder table').addClass('table table-bordered table-striped')
        $('th').addClass('text-center')

        //Clear the search box text
        $('#search').val('')
        $('#search').attr('placeholder','Search and press enter to submit')  

    } else {document.getElementsByClassName('modaloverwrite')[0].innerHTML = resp} 

    }
  };

  $('#search').attr('placeholder','Loading. Please wait...')
  var searchstr = document.getElementById('search').value
  if (searchstr == '') {searchstr='None'}

  teams = ''
  sel_teams = $('.h2hsel').toArray()
  if (sel_teams.length > 0) {
  for (i in sel_teams) {
    teams = teams + '"' + sel_teams[i].children[0].textContent+ '"' + ','
  }               
  teams = teams.substr(0,teams.length-1)} else {teams='None'}

  var comp = document.getElementById('compselect').value

  xhttp.open("GET", "getgames.php?days="+document.getElementById('daystoshow').value+"&search="+searchstr+"&comp="+comp+"&teams="+teams, true);
  xhttp.send();

  return resp
}

function getLog() {

  var xhttp;
  xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("games").innerHTML = this.responseText;
    }
  };

  var searchstr = document.getElementById('search').value
  if (searchstr == '') {searchstr='None'}

    xhttp.open("GET", "gettable.php", true);
  xhttp.send();

}

function changedayslabel() {
  document.getElementById("dayslabel").innerText = document.getElementById('daystoshow').value
  getgames();
}

function getdbupdatetime() {
  var xhttp;
  xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("dbupdated").innerHTML = "Database updated at "+Date(this.responseText);
    }
  };
  xhttp.open("GET", "getdbupdatetime.php",true);
  xhttp.send();
}

function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("gamestable");
  switching = true;
  // Set the sorting direction to ascending:
  dir = "asc";
  /* Make a loop that will continue until
  no switching has been done: */
  while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /* Loop through all table rows (except the
    first, which contains table headers): */
    for (i = 1; i < (rows.length - 1); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /* Check if the two rows should switch place,
      based on the direction, asc or desc: */
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      // Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /* If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again. */
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}


document.getElementById('daystoshow').onchange = function() {changedayslabel();getgames();}

getdbupdatetime();
changedayslabel();
getgames();
document.getElementById('main').style.backgroundImage = "url({{ url_for('static',filename='prophetoddsbg.jpg')}})";

document.getElementById('search').addEventListener("keyup", function(event) {
  // Number 13 is the "Enter" key on the keyboard
  if (event.keyCode === 13) {
    getgames();
  }
})

$(window).on('load',function(){
        $('#dialog').modal('show');
    });

</script>

<script src="{{ url_for('static',filename='style_snippets/faux_select.js')}}"></script>

